/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

/********************************
Generic CSS for setup

**********************************/
div,
h2,h3,h4,
body{
	
	margin:			0;
	padding: 		0;
	color:			white;		
	font-family: 	arial;
	font-weight: 	600;
}

body{
	background: 	#3375DA;
}

h4,
h2{
	margin-left: 	15px;
}

h2{
	padding-top:  	50px;

}
.standdiv{
	width: 			200px;
	padding: 		20px;
	margin: 		30px 0 0 20px;
	background:		#333333;
	font-size:		13px;
	text-align: 	center;
	display:		inline-block;
	float:			left;
	
}

hr{
	color: 			white;
}
#theend{
	padding-top: 	50px;
	background: 	#3375DA;
	clear:			left;
}
#hend{
	text-align: center;
	margin-bottom: 50px;
}
#menu{
	background: 	#333333;
	right:			0;
	position: 		fixed;
	width:			120px;
	text-align: 	center;
	padding: 		5px 0px ;
}

#menu a{
	text-decoration: none;
	color:			 white;
}

#menu a:hover{
	background-color: #555555;
}
#menu div{
	cursor: pointer;
}
#menu div:hover{
	background-color:#555555;
}

.borderrad{
	margin-left: 	auto;
	margin-right: 	auto;
	margin-top: 	20px;
	width:			1000px;
	clear:			left;
}

.txtshd div{
	color:			white;
	font-size:		16px;
}

/********************************
	Element Specific CSS3 Stuff
***********************************/

/****
	Border Radius Used for Rounding corners
**/

#brall{

	border-radius:			15px;
	-moz-border-radius:		15px;
	-webkit-border-radius:	15px;
	-ms-border-radius:		15px;
	-o-border-radius:		15px;

}

#brsingle{
	border-radius: 			0 0 40px 0;
	-moz-border-radius: 	0 0 40px 0;
	-webkit-border-radius: 	0 0 40px 0;
	-ms-border-radius: 		0 0 40px 0;
	-o-border-radius: 		0 0 40px 0;

}
#brdual{
	border-radius: 			5px 40px;
	-moz-border-radius: 	5px 40px;
	-webkit-border-radius: 	5px 40px;
	-ms-border-radius: 		5px 40px;
	-o-border-radius: 		5px 40px;
}

#brindivid{
	border-radius: 			15px 5px 40px 0;
	-moz-border-radius: 	15px 5px 40px 0;
	-webkit-border-radius: 	15px 5px 40px 0;
	-ms-border-radius: 		15px 5px 40px 0;
	-o-border-radius: 		15px 5px 40px 0;
}

/****
	Text Shadow Used for addind shadow and depth to text
**/
#simptxtshd{
	/*text-shadow: xvalue yvalue blur colorofshadow;*/

	/*positive xvalue moves right. negetive xvalue moves left.
	positive yvalue moves down.  negetive yvalue moves up.*/

	/*right 1 down 1 no blur and black*/
	text-shadow: 			1px 1px 0 #000; 
	-webkit-text-shadow:	1px 1px 0 #000; 

}

#moreshd{
	text-shadow:			5px 5px 0 #000;
	-webkit-text-shadow:	5px 5px 0 #000; 
}

#blrsimp{
	text-shadow:			1px 1px 5px #000;
	-webkit-text-shadow:	1px 1px 5px #000; 
}

#moreblr{
	text-shadow:			5px 5px 5px #000;
	-webkit-text-shadow:	5px 5px 5px #000; 
}

#simpsecshd{
	text-shadow:			1px 1px 5px #000, 
							1px 1px 5px #3375da;
	-webkit-text-shadow:	1px 1px 5px #000,
							1px 1px 5px #3375DA; 
}

#moresecshd{
	text-shadow:			10px 10px 5px #000,
							5px 5px 5px #2355da;
	-webkit-text-shadow:	10px 10px 5px #000,
							5px 5px 5px #000; 
}

#ordrev{
	text-shadow:			5px 5px 5px #2355da,
							10px 10px 5px #000;
	-webkit-text-shadow:	5px 5px 5px #2355da,
							10px 10px 5px #000;
}

#fiveshd{
	text-shadow:			1px 2px 1px #2355da,
							2px 4px 2px #000,
							3px 6px 3px #0055da,
							4px 8px 4px #fff,
							5px 10px 5px #555555;
	-webkit-text-shadow:	1px 2px 1px #2355da,
							2px 4px 2px #000,
							3px 6px 3px #0055da,
							4px 8px 4px #fff,
							5px 10px 5px #555555;
}

/****
	Box Shadow Used for addind shadow and depth to div element
**/

#simpbxshd{
	 box-shadow: 			1px 1px black;
	 -webkit-box-shadow:	1px 1px black;
	 -moz-box-shadow:		1px 1px black;
}

#borradshd{
	 box-shadow: 			1px 1px 4px black;
	 -webkit-box-shadow:	1px 1px 4px black;
	 -moz-box-shadow:		1px 1px 4px black;
}

#sprdshd{
	 box-shadow: 			1px 1px 0px 2px black;
	 -webkit-box-shadow:	1px 1px 0px 2px black;
	 -moz-box-shadow:		1px 1px 0px 2px black;
}

#sprdradshd{
	 box-shadow: 			1px 1px 4px 2px black;
	 -webkit-box-shadow:	1px 1px 4px 2px black;
	 -moz-box-shadow:		1px 1px 4px 2px black;
}

#hvybxshd{
	 box-shadow: 			1px 1px 15px black;
	 -webkit-box-shadow:	1px 1px 15px black;
	 -moz-box-shadow:		1px 1px 15px black;
}

#sharpshd{
	 box-shadow: 			10px 10px 0px black;
	 -webkit-box-shadow:	10px 10px 0px black;
	 -moz-box-shadow:		10px 10px 0px black;
}

#simpinshd{
	box-shadow: 		inset	5px 5px 10px black;
	-webkit-box-shadow:	inset	5px 5px 10px black;
	-moz-box-shadow:	inset	5px 5px 10px black;

}

#allinsetshd{
	box-shadow: 		inset	0px 0px 10px black;
	-webkit-box-shadow:	inset	0px 0px 10px black;
	-moz-box-shadow:	inset	0px 0px 10px black;

}

#botonlyshd{
	box-shadow: 			0px 20px 10px -10px black;
	-webkit-box-shadow:	    0px 20px 10px -10px black;
	-moz-box-shadow:		0px 20px 10px -10px black;

}


/****
	Linear Gradient Used for add smooth color Transistions 
**/

#basgrad{
	/*Fallback color if browser doesn't support gradients*/
	background-color: 		black;
	/*linear-gradient(start_position,top_color,color_to_gradient_to)*/
	background-image: 		-moz-linear-gradient(top,white,#333);
	background-image: 		-webkit-linear-gradient(top,white,#333);
	background-image: 		-ms-linear-gradient(top,white,#333);

}

#horzrad{
	/*Fallback color if browser doesn't support gradients*/
	background-color: 		black;
	/*linear-gradient(start_position,top_color,color_to_gradient_to)*/
	background-image: 		-moz-linear-gradient(left,white,#333);
	background-image: 		-webkit-linear-gradient(left,white,#333);
	background-image: 		-ms-linear-gradient(left,white,#333);

}

/****
	Transitions Used for add smooth Transistions in color, size, or position 
**/

#notrans:hover{
	background-color:	#fff;
	color: 				black;
}

#basani:hover{
	background: 		#fff;
	color: 				black;
	-moz-transition: 	background 0.5s ease-out;
	-webkit-transition: background 0.5s ease-out;
	transition: 		background 0.5s ease-out;
}

#sizeani:hover{
	width:				95px;
	-moz-transition: 	width .5s linear;
    -webkit-transition: width .5s linear;
    -o-transition: 		width .5s linear;
    -ms-transition: 	width .5s linear;
    transition: 		width .5s linear;
}


#inoutani:hover{
	background: 		#3375da;
	color: 				white;
	-moz-transition: 	background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	transition: 		background 0.5s ease-in-out;
}

#makevis{
	color:				#3375da;
	background: 		#3375DA;
}
#makevis:hover{
	background: 		#333333;
	color: 				white;
	-moz-transition: 	all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: 		all 0.5s ease-in-out;
}


#twoatonce:hover{
	background: 		white;
	width:				400px;
	color: 				black;
	-moz-transition: 	background 1s ease-in-out, width 5s linear;
	-webkit-transition: background 1s ease-in-out, width 5s linear;
	transition: 		background 1s ease-in-out, width 5s linear;
}

#delani:hover{
	width: 					400px;
	-moz-transition: 		width 0.1s ease-in-out 1s;
	-webkit-transition: 	width 0.1s ease-in-out 1s;
	transition:			 	width 0.1s ease-in-out 1s;
}

#benzcur:hover{
	background: 		white;
	width:				400px;
	color: 				black;
	-moz-transition: 	background 1s ease-in-out, width 2s cubic-bezier(1.000, -1.530, 0.405, 1.425);
	-webkit-transition: background 1s ease-in-out, width 2s cubic-bezier(1.000, -1.530, 0.405, 1.425);
	transition: 		background 1s ease-in-out, width 2s cubic-bezier(1.000, -1.530, 0.405, 1.425);
}

/****
	Rotating Used to Rotate elements 
**/

#simprot{
	-webkit-transform: 		rotate(7.5deg);
	-moz-transform: 		rotate(7.5deg);
	transform: 				rotate(7.5deg);
}

#hoverrot:hover{
	-webkit-transform: 		rotate(90deg);
	-moz-transform: 		rotate(90deg);
	transform: 				rotate(90deg);
}

#anirot:hover{

	-webkit-transform: 		rotate(360deg);
	-moz-transform: 		rotate(360deg);
	transform: 				rotate(360deg);
	-moz-transition: 		transform 5s linear;
}

#aniscale:hover{
	-webkit-transform: 		scale(2);
	-moz-transform: 		scale(2);
	transform: 				scale(2);
	-moz-transition: 		transform 1s linear;
}

/****
	Animating Used to animating elements 
**/
#realani{
	/*Tell To use Animation*/
	-webkit-animation: 	spin 5s infinite;
	-moz-animation: 	spin 5s infinite;
	-o-animation: 		spin 5s infinite;
	animation: 			spin 5s infinite;
}

#evenani{
	-webkit-animation: 	spin 5s linear infinite;
	-moz-animation: 	spin 5s linear infinite;
	-o-animation: 		spin 5s linear infinite;
	animation: 			spin 5s linear infinite;
}

#backforth{
	-webkit-animation: 	backfor 5s linear infinite;
	-moz-animation: 	backfor 5s linear infinite;
	-o-animation: 		backfor 5s linear infinite;
	animation: 			backfor 5s linear infinite;
}

/*
*************spin Animation
*/

/*Inside venderprefix must match outside*/
@-webkit-keyframes spin{
	/*Start*/
	0%{ -webkit-transform: rotate(0deg); }
	/*END*/
	100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
	0%{ -moz-transform: rotate(0deg); }
	100%{-moz-transform: rotate(360deg);}
}

@-o-keyframes spin{
	0%{ -o-transform: rotate(0deg); }
	100%{-o-transform: rotate(360deg);}
}
/*just line with tranistion & trasform have one without 
venderprefix for modern browsers*/
@keyframes spin{
	0%{ transform: rotate(0deg); }
	100%{transform: rotate(360deg);}
}


/*
*************backforth Animation
*/

@-webkit-keyframes backfor{
	0%{ -webkit-transform: translateX(0px); }
	50%{-webkit-transform: translateX(500px);}
	100%{-webkit-transform: translateX(0px);}
}
@-moz-keyframes backfor{
	0%{ -moz-transform: translateX(0px); }
	50%{-moz-transform: translateX(500px);}
	100%{-moz-transform: translateX(0px);}
}

@-o-keyframes backfor{
	0%{ -o-transform: translateX(0px); }
	50%{-o-transform: translateX(500px);}
	100%{-o-transform: translateX(0px);}
}

@keyframes backfor{
	0%{ transform: translateX(0px); }
	50%{transform: translateX(500px);}
	100%{transform: translateX(0px);}
}